body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.section-one {
    background-color: #FFAF45;
    /* Kolor tła sekcji */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 475px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 75%;
    padding-top: 20px;
}

.links-header a,
.logo {
    font-weight: bold;
    text-decoration: none;
    color: #FB6D48;
    /* Kolor tekstu nagłówka i linków */
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.links-header a {
    margin-left: 15px;
    font-size: 18px;
}

.content-section-one {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 75px;
    height: 250px;
}

.left,
.right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #673F69;
    /* Kolor tekstu sekcji z lewej i prawej strony */
}

.right {
    color: #FFAF45;
    font-weight: bold;
    margin-right: 0;
    display: flex;
    background-color: #FB6D48;
    /* Kolor tła sekcji z prawej strony */
}

.bold {
    display: flex;
    align-self: flex-start;
    font-size: 48px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
}

.content-left {
    display: flex;
    align-self: flex-start;
    margin-top: 0;
}

.sign-up {
    display: flex;
    font-weight: bold;
    align-self: flex-start;
    color: #FFAF45;
    /* Kolor tekstu przycisku */
    text-decoration: none;
    padding: 7px 30px;
    border-radius: 11px;
    background-color: #FB6D48;
    /* Kolor tła przycisku */
}